/*
*
* ___      _   _                       ___
* | _ \__ _| |_| |___ __ ____ _ _  _   / __|___ _ __  _ __  ___ _ _  ___
* |  _/ _` |  _| ' \ V  V / _` | || | | (__/ _ \ '  \| '  \/ _ \ ' \(_-<
* |_| \__,_|\__|_||_\_/\_/\__,_|\_, |  \___\___/_|_|_|_|_|_\___/_||_/__/
*                               |__/
* https://github.com/PathwayCommons/
*
*/



/*
* Progress tracker overrides
*/
@media (min-width: 768px) {
  .progress-tracker {
    position: fixed;
    left: 1rem; // Move it to the right for 50% of parent element
    width: $container-margin-left - 1rem;         /* standards-based answer for IE9+, FF16+ */
    top: 5rem;
  }
}

.progress-tracker {
  a:link.progress-tracker-link,
  a:hover.progress-tracker-link,
  a:active.progress-tracker-link,
  a:visited.progress-tracker-link{
    text-decoration: none;
  }
  .progress-marker {
    padding-bottom: 0px; // To align text within the marker
  }

}

.progress-tracker-wrapper {
  .panel-heading, .panel-body{
    padding-left: 0;
    padding-right: 0;
  }
  .progress-text {
    padding-top: 2px;
    padding-left: 42px;
  }
  .progress-shadow {
    position: absolute;
    top: -0.4rem;
    left: -0.4rem;
    height: 85%;
  }
  .active {
    border-radius: 5px;
    background-color: rgba(41, 128, 185, 0.15);
  }
}
