<div class="archive list-group">

  {% for doc in docs %}
  {% unless doc.url contains 'archive' or doc.draft %}
  <div class="archive list-group-item">
    <a href="{{ site.baseurl }}{{ doc.url }}">
      <div class="list-group-item-text">
        <p class="list-group-item-title">{{ doc.title }}</p>
        <p>{{ doc.subtitle }}</p>
      </div>
      <div class="list-group-item-meta">
        {% for badge in doc.badges %}
          <span class="label label-default hidden-xs">{{ badge }}</span>
        {% endfor %}
      </div>
      <div class="list-group-item-media">
        {% if doc.cover  %}
          <img class="img-responsive" src="{{ site.baseurl }}/{{ site.media_root }}{{ doc.id }}/{{ doc.cover }}" />
        {% else %}

          <img class="img-responsive" src="http://placehold.it/900x175" />
        {% endif %}
      </div>
    </a>
  </div>
  {% endunless %}
  {% endfor %}

</div>
