<div class="reading-list panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% for doc in sorted_docs %}
  {% capture panel_id %}panelid-{{ forloop.index }}{% endcapture %}
  <div class="reading-list panel">
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ panel_id }}" aria-expanded="true" aria-controls="collapseOne">
      <div class="reading-list panel-heading" role="tab" id="headingOne">
        <h2 class="panel-title">{{ doc.title }}&nbsp<span class="badge">{{ doc.type }}</span></h2>
        <p class="panel-meta">{{ doc.author }}<br/>
          {{ doc.journal }} vol. {{ doc.volume }}, {{ doc.date | date: "%b %Y"}}</p>
      </div>
    </a>

    {% if doc.abstract %}
    <div id="{{ panel_id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>{{ doc.abstract }}</p>
        <a target="_blank" href="{{ doc.url }}"><i class="fa fa-link fa-lg" aria-hidden="true"></i></a>
      </div>
    </div>
    {% endif %}
  </div>
{% endfor %}
</div>
