<div class="grid-element-parent">
{% for doc in docs %}
    <div class="grid-element">
        <a href="{{site.baseurl}}{{ doc.url }}">
          <div class="grid-element-card">
            <div class="grid-element-panel">
              <img class="img-responsive" src="{{ site.baseurl }}/{{ site.media_root }}/{{ page.icon }}" />
            </div>
            {% assign title_length = (doc.title | size) %}
            <div class="box-label effect5 {% if title_length > 20 and title_length < 40 %}long{% elsif title_length > 40 %}truncate{% endif %}">
              <span class="grid-element-label">{{ doc.title }}</span>
            </div>
          </div>
        </a>
      </div>
{% endfor %}
</div>
