<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline.text }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/{{ site.media_root }}/favicon.ico">

  <!-- CSS -->
  {% if page.custom_css %}
    {% for css_file in page.custom_css %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/{{ site.static_root }}/{{ css_file }}" />
    {% endfor %}
  {% endif %}
  <!-- Third-party CSS -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/{{ site.static_root }}/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/{{ site.static_root }}/bower_components/progress-tracker/app/styles/progress-tracker.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/{{ site.static_root }}/bower_components/font-awesome/css/font-awesome.min.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/{{ site.static_root }}/css/main.css">

  <!-- Javascript -->
  <!-- Third-party javascript -->
  <script type="text/javascript" src="{{ site.baseurl }}/{{ site.static_root }}/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/{{ site.static_root }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/{{ site.static_root }}/bower_components/cytoscape/dist/cytoscape.min.js"></script>
  <!-- Load Facebook SDK for JavaScript -->
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <script type="text/javascript" src="{{ site.baseurl }}/{{ site.static_root }}/js/deps.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "AMS" } } });
  </script>
  <!-- Custom javascript -->
  <script type="text/javascript" src="{{ site.baseurl }}/{{ site.static_root }}/js/babel-compiled.js" defer></script>
  {% if page.custom_js %}
    {% for js_file in page.custom_js %}
      <script src='{{ site.baseurl }}/{{ site.static_root }}/{{ js_file }}' type="text/javascript"></script>
    {% endfor %}
  {% endif %}
</head>
