<div class="progress-tracker-wrapper">
  <ul class="progress-tracker progress-tracker--vertical">
    {% for doc in docs %}
    {% unless doc.status == 'draft' %}
    {% if doc.url | split: '/' | last == 'index' %}
      {% assign url = doc.url | remove: 'index' %}
      <li class="progress-step" >
        <a class="progress-tracker-link" href="{{ site.baseurl }}{{ url }}">
          <span class="progress-marker">{{ doc.order }}</span>
          <span class="progress-text">
            <div class="progress-shadow progress-target"><p style="visibility:hidden" class="progress-subtitle">{{ doc.subtitle }}</p></div>
            <h4 class="progress-title">{{ doc.title }}</h4>
            <p class="progress-subtitle">{{ doc.subtitle }}</p>
          </span>
        </a>
      </li>
    {% endif %}
    {% endunless %}
    {% endfor %}
  </ul>
  <div class="progress-tracker-content"></div>
</div>
