<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" >
<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <nav class="sidebar-nav">
    <div class="sidebar-item">
      {{ site.description}}: v{{ site.version }}
    </div>
    <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: ` in the front-matter.
    {% endcomment %}

    {% assign collection_list = site.collections | sort:"url" %}
    {% for collection in collection_list %}
      <!-- List items with a valid title and page layout -->
      {% if collection.index != null %}
        {% if collection.label != null %}

          {% assign pretty_label = collection.label | replace: "_", " " | capitalize %}
          <a class="sidebar-nav-item{% if page.url contains collection.label %} active{% endif %}"
          href="{{site.baseurl}}{{ collection.index }}">{{ pretty_label }}
          </a>

        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>
</div>
