/*
*
* ___      _   _                       ___
* | _ \__ _| |_| |___ __ ____ _ _  _   / __|___ _ __  _ __  ___ _ _  ___
* |  _/ _` |  _| ' \ V  V / _` | || | | (__/ _ \ '  \| '  \/ _ \ ' \(_-<
* |_| \__,_|\__|_||_\_/\_/\__,_|\_, |  \___\___/_|_|_|_|_|_\___/_||_/__/
*                               |__/
* https://github.com/PathwayCommons/
*
* Learn customization
*/

/* Spinner */
#ajax-spinner {
  position: fixed;
  z-index: 999;
  height: 7em;
  width: 7em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


/*
 * Modified Bootstrap views
 * panelista - a jumbotron ripoff
 * archive.listgroup - a modified list group
 *
 */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) { ... }
//
/* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) { ... }
//
/* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) { ... }

/*
* gridview -  a grid layout
*
*/

.grid-element {
  $grid-margin: 1em;
  $border-width: 0.25em;
  $label-height: 2.5em;

  float: none;
  margin: 0 auto;
  width: 350px;
  height: 270px;
  padding: 0;


  .dummy {
    margin-top: 0%;
  }

  .grid-element-card {
    position: absolute;
    margin: $grid-margin;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $light-silver;
  }

  .grid-element-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
  }

  .grid-element-inner {
    position: absolute;
    margin: $grid-margin + $border-width;
    top: 0;
    bottom: $label-height;
    left: 0;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 5em);
    color: $clouds;
    background: rgba(44, 62, 80, 0.9);
    overflow-y: hidden;
  }
}


@media (min-width: 768px) {
  .grid-element {
    $grid-margin: 1em;
    $border-width: 0.25em;
    $label-height: 3em;

    float: left;
    width: 50%;
    height: 100%;
    margin-left: 0;

    .dummy {
      margin-top: 90%;
    }

    .grid-element-card {
      position: absolute;
      margin: $grid-margin;
    }

    .grid-element-title {
      font-size: 1.5em;
    }

    .grid-element-inner {
      padding-top:calc(50% - 5em);
      margin: $grid-margin + $border-width;
      bottom: $label-height;
    }
  }
}

 /*
  * panelista -  a jumbotron rip-off
  *
  */
.panelista {
 background-color: $inverse;
 position: relative;
 margin-bottom: 1rem;
 height: 10rem;
 width: auto;

 .panelista-shade {
   position: absolute;
   background: rgba(231, 76, 60, 0.9);

   z-index: 1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 2rem 1rem;
   overflow: hidden;

   h1 {
    font-size: 1.6rem;
    font-weight: bold;
    color: $clouds;
   }
   p {
     font-size: 1rem;
     font-weight: 400;
     color: $clouds;
   }
 }
}
@media (min-width: 768px) {
 .panelista {
   height: 18rem;
   margin-bottom: 3rem;

   .panelista-shade {
     padding: 5em 3em 5em;

     h1 {
      font-size: 1.8rem;
     }
     p {
       font-size: 1.2rem;
     }
   }
 }
}

/*
 * List groups items with class .archive
 *
 */
.archive.list-group {
  .archive.list-group-item {

    margin-top: 1.5em;
    position: relative;
    padding: 0;

    .list-group-item-text {
      background: rgba(44, 62, 80, 0.8);
      position: absolute;
      color: $clouds;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1em;
      overflow: hidden;

      .list-group-item-title {
        color: $clouds;
        font-size: 1.25rem;
        font-weight: 500;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.5em;
        font-weight: lighter;
      }
    }
    .list-group-item-meta {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      padding: 1em;
    }
  }
}

@media (min-width: 768px) {
  .archive.list-group {
    .archive.list-group-item {
      .list-group-item-text {
        padding: 1.5em;
        width: 40%;
        .list-group-item-title {
          font-size: 1.25rem;
        }
        p {
          text-align: left;
          line-height: 1.5rem;
          font-size: 1rem;
        }
      }

      .list-group-item-meta {
        position: absolute;
        z-index: 1;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        padding: 1em;
      }

    }
  }
}

/*
 * Linkout
 *
 */
.linkout {
  ul.list-inline {
    margin-bottom: 0;
  }
}

/*
 * Collections
 *
 */
/* BEGIN case_study*/
.case-study {

  /* Meta data line below post title */
  .subtitle  {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  .figure-legend {
    font-size: 1rem;
    margin: 1em auto 5em;
  }

  img {
    margin-top: 2rem;
  }
}
@media (min-width: 768px) {
  .case-study {

    .subtitle  {
      width: 80%;
    }
    /* Meta data line below post title */
    .figure-legend {
      font-size: 0.9rem;
    }
    img {
      margin-top: 5rem;
    }
  }
}
/* END case_study*/

/* BEGIN reading_list */
.reading-list.panel-group {
  .reading-list.category {
      margin-top: 3em;
  }

  .reading-list.panel {
    a {
      text-decoration: none;
    }
    .reading-list.panel-heading {
      padding: 1em;
      background: $brand-primary;
      color: $clouds;

      .panel-title {
        font-size: 1.2rem;

        .badge {
          font-weight: 200;
        }
      }
      .panel-meta {
        color: $gray;
      }
    }
  }
}
/* END reading_list */
