/*
*
* ___      _   _                       ___
* | _ \__ _| |_| |___ __ ____ _ _  _   / __|___ _ __  _ __  ___ _ _  ___
* |  _/ _` |  _| ' \ V  V / _` | || | | (__/ _ \ '  \| '  \/ _ \ ' \(_-<
* |_| \__,_|\__|_||_\_/\_/\__,_|\_, |  \___\___/_|_|_|_|_|_\___/_||_/__/
*                               |__/
* https://github.com/PathwayCommons/
*
* fonts
*/
//== Typography
//
//## Font, line-height for body text, headings, and more.

$font-family-base:          "Lato", Helvetica, Arial, sans-serif !default;
$font-family-demo:          "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-monospace:     Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-size-base:            16px !default;

$h-margin:                  0.625rem;
$hx-margin-top:             2.875rem;
$hx-margin-bottom:          0.6875rem;

$p-margin:                  1.375rem;

$figure-legend:             0.950rem;
