/*
*
* ___      _   _                       ___
* | _ \__ _| |_| |___ __ ____ _ _  _   / __|___ _ __  _ __  ___ _ _  ___
* |  _/ _` |  _| ' \ V  V / _` | || | | (__/ _ \ '  \| '  \/ _ \ ' \(_-<
* |_| \__,_|\__|_||_\_/\_/\__,_|\_, |  \___\___/_|_|_|_|_|_\___/_||_/__/
*                               |__/
* https://github.com/PathwayCommons/
*
* theme_variables
*/

// Container dimensions
$container-max-width: 50rem;
$container-min-width: 18rem;
$container-margin-left: 20rem;

// Sidebar
$side-bar-width: 18rem;


//grid-elements
$grid-margin: 1em;
$border-width: 0.25em;
$label-height: 3.5em;
$grid-element-width: 17em;
$grid-aspect-ratio: 1.25; //width / height
$grid-element-height: $grid-element-width / $grid-aspect-ratio;
