/*
*
* ___      _   _                       ___
* | _ \__ _| |_| |___ __ ____ _ _  _   / __|___ _ __  _ __  ___ _ _  ___
* |  _/ _` |  _| ' \ V  V / _` | || | | (__/ _ \ '  \| '  \/ _ \ ' \(_-<
* |_| \__,_|\__|_||_\_/\_/\__,_|\_, |  \___\___/_|_|_|_|_|_\___/_||_/__/
*                               |__/
* https://github.com/PathwayCommons/
*
* theme_variables
*/

// Container dimensions
$container-max-width: 50rem;
$container-min-width: 22rem;

// Sidebar
$side-bar-width: 18rem;
