<li>
  <!-- <a href="http://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&title={{ page.title }}"
  data-toggle="tooltip"
  title="Share this page on Facebook"
  target="_blank" >
    <i class="fa fa-facebook-official fa-2x"></i>
  </a> -->
  <div class="fb-share-button" data-href="{{ site.github.url }}{{ page.url }}" data-layout="button" data-size="small" data-mobile-iframe="true">
    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2Fguide%2Fworkflows%2Fpathway_enrichment_ii%2Fpreview%2F&amp;src=sdkpreparse">
      <i class="fa fa-facebook-official fa-2x"></i>
    </a>
  </div>
</li>
<li>
  <a href="http://twitter.com/intent/tweet?text={{ page.subtitle | truncate: 90 }}+{{ site.github.url | append: page.url }}&via=pathwaycommons"
  data-toggle="tooltip"
  title="Tweet this page"
  target="_blank" >
    <i class="fa fa-twitter-square fa-2x"></i>
  </a>
</li>
<li>
  <a href="https://plus.google.com/share?url={{ site.github.url }}{{ page.url }}"
  data-toggle="tooltip"
  title="Share on Google+"
  target="_blank" >
    <i class="fa fa-google-plus fa-2x"></i>
  </a>
</li>
