<li>
  <a href="http://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&title={{ page.title }}"
  data-toggle="tooltip"
  title="Share this page on Facebook"
  target="_blank" >
    <i class="fa fa-facebook-official fa-2x"></i>
  </a>
</li>
<li>
  <a href="http://twitter.com/intent/tweet?text={{ page.subtitle | truncate: 90 }}+{{ site.github.url | append: page.url }}&via=pathwaycommons"
  data-toggle="tooltip"
  title="Tweet this page"
  target="_blank" >
    <i class="fa fa-twitter-square fa-2x"></i>
  </a>
</li>
<li>
  <a href="https://plus.google.com/share?url={{ site.github.url }}{{ page.url }}"
  data-toggle="tooltip"
  title="Share on Google+"
  target="_blank" >
    <i class="fa fa-google-plus fa-2x"></i>
  </a>
</li>
