
<ul class="workflow-stepper">
{% for doc in docs %}
{% unless doc.status == 'draft' %}
{% if doc.url | split: '/' | last == 'index.html' %}
  {% assign url = doc.url | remove: 'index.html' %}
  {% if doc.step %}
  <li class="media step">
    <div class="mr-3 numberCircle">{{ doc.step }}</div>
    <div class="media-body">
      <a target="_blank" href="{{ site.baseurl }}{{ url }}">
        <h2 class="mt-0 mb-1">{{ doc.title }}</h2>
      </a>
      <p>{{ doc.subtitle }}</p>
    </div>
  </li>
  {% else %}
    <a target="_blank" href="{{ site.baseurl }}{{ url }}">
      <h3>{{ doc.title }}</h3>
    </a>
    <p>{{ doc.subtitle }}</p>
  {% endif %}
{% endif %}
{% endunless %}
{% endfor %}
</ul>

