---
title: Reading List
subtitle: A curated set of publications
layout: panelista
---

{% if site.reading_list %}
{% assign sorted_docs = site.reading_list %}
    <div class="grid-element-parent">
      {% for doc in sorted_docs %}
      {% unless doc.url contains 'archive' %}
        <div class="grid-element">
          <a href="{{site.baseurl}}{{ doc.url }}">
            <div class="grid-element-card">
              <div class="grid-element-panel">
                <p class="grid-element-text">{{ doc.subtitle }}</p>
              </div>
              <div class="grid-element-label">
                <span>{{ doc.title }}</span>
              </div>
            </div>
          </a>
        </div>
      {% endunless %}
      {% endfor %}
    </div>
{% endif %}
