---
layout: page
---
<div class="collection">
  <div class="case-study">
    <div class="subtitle">{{ page.subtitle }}</div>
    <div class="message">
      {{ page.article_title }}<br/>
      <a href="{{ page.article_link }}">{{ page.article_reference }}</a>
    </div>
    <hr/>
    <div class="linkout clearfix">
      <ul class="list-inline pull-right">
      {% include icons/social.html %}
      <li></li>
      {% include icons/download.html %}
      </ul>
    </div>
    <hr/>
    {{ content }}
  </div>
</div>
