/*
*
* ___      _   _                       ___
* | _ \__ _| |_| |___ __ ____ _ _  _   / __|___ _ __  _ __  ___ _ _  ___
* |  _/ _` |  _| ' \ V  V / _` | || | | (__/ _ \ '  \| '  \/ _ \ ' \(_-<
* |_| \__,_|\__|_||_\_/\_/\__,_|\_, |  \___\___/_|_|_|_|_|_\___/_||_/__/
*                               |__/
* https://github.com/PathwayCommons/
*
* Guide customization
*/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

a.btn.btn-block {
  font-weight: 200;
  text-decoration: none;
  color: $inverse;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* images */
img {
  margin: auto auto;
}
img.slim {
  max-width: 100%;
}
img.super-slim {
  max-width: 80%;
}
img.short {
  max-height: 700px;
}
img.shorter {
  max-height: 600px;
}
img.super-short {
  max-height: 500px;
}
img.super-duper-short {
  max-height: 400px;
}
img.left {
  margin-left: 0;
}
@media (min-width: 768px) {
  img.slim {
    max-width: 70%;
  }
  img.super-slim {
    max-width: 50%;
  }
}

/* Spinner */
#ajax-spinner {
  position: fixed;
  z-index: 999;
  height: 7em;
  width: 7em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}


/*
 * Modified Bootstrap views
 * panelista - a jumbotron ripoff
 * archive.listgroup - a modified list group
 *
 */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) { ... }
//
/* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) { ... }
//
/* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) { ... }

/*
* gridview -  a grid layout
*
*/

.grid-element-parent {

  display:                 -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display:                 -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display:                 -ms-flexbox;      /* TWEENER - IE 10 */
  display:                 -webkit-flex;     /* NEW - Chrome */
  display:                 flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-flex-wrap:       wrap;
  flex-wrap:               wrap;
  -webkit-flex-direction:  row;
  flex-direction:          row;
  -webkit-align-items:     center;
  align-items:             center;
  -webkit-justify-content: center;
  justify-content:         center;

  .grid-element {
    margin: $grid-margin;

    a {
      text-decoration: none;
    }

    .grid-element-card {
      text-align: center;
      padding: $border-width;
      width: $grid-element-width;
      height: $grid-element-height * 1.2;
      // background: $light-silver;

      .grid-element-panel {
        height: $grid-element-height - $label-height;
        color: $clouds;
        // background: rgba(44, 62, 80, 0.7);
        overflow-y: hidden;

        .grid-element-text {
          text-align: center;
          margin-top: 25%;
        }

        img {
          margin: auto auto;
          height: $grid-element-height - $label-height;
        }
      }

      .grid-element-label {
        font-weight: bold;
        font-size: 1.2em;
      }
    }
  }
}

/*==================================================
 * Label Effect
 * ===============================================*/
.box-label {
  height: 4em;
  background: $inverse;
  border: 1px solid $clouds;
  padding: 1em;
  margin-top: 4px;
}
.box-label.long {
  height: 5.5em;
}

.effect5
{
  position: relative;
}
.effect5:before, .effect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 50%;
  background: #777;

  -webkit-box-shadow: 0 35px 20px #777; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: 0 35px 20px #777; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */

  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.effect5:after
{
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);

  right: 10px;
  left: auto;
}

 /*
  * panelista -  a jumbotron rip-off
  *
  */
.panelista {
 background-color: $inverse;
 position: relative;
 margin-bottom: 2rem;
 height: 10rem;
 width: auto;

 .panelista-shade {
   position: absolute;
   background-image: url("/guide/media/overview.png");
   z-index: 1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 1.5rem 1rem;
   overflow: hidden;

   h1 {
    font-size: 1.6rem;
    font-weight: bold;
    color:  $midnight-blue;
   }
   p {
     font-size: 1rem;
     font-weight: 400;
     color:  $midnight-blue;
   }
 }
}
@media (min-width: 768px) {
 .panelista {
   height: 16rem;
   margin-bottom: 3rem;

   .panelista-shade {
     background-image: url("/guide/media/overview.png");
     .panelist-banner {
       position: absolute;
       z-index: -1;
       top: 0;
       right: 0;
       padding: 1em;
     }

     h1 {
      font-size: 1.8rem;
      color: $midnight-blue;
     }
     p {
       font-size: 1.2rem;
       color: $midnight-blue;
     }
   }
 }
}

/*
 * List groups items with class .archive
 *
 */
.archive.list-group {
  .archive.list-group-item {

    margin-top: 1.5em;
    position: relative;
    padding: 0;

    .list-group-item-text {
      background: rgba(44, 62, 80, 0.8);
      position: absolute;
      color: $clouds;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1em;
      overflow: hidden;

      .list-group-item-title {
        color: $clouds;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.5em;
        font-weight: lighter;
        margin-top: 0;
        margin-bottom: 0.25rem;
      }
    }
    .list-group-item-meta {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      padding: 1em;
    }
  }
}

@media (min-width: 768px) {
  .archive.list-group {
    .archive.list-group-item {
      .list-group-item-text {
        padding: 1.5em;
        width: 40%;
        .list-group-item-title {
          font-size: 1.25rem;
          margin-bottom: 1.375rem;

        }
        p {
          text-align: left;
          line-height: 1.5rem;
          font-size: 1rem;
          margin-top: 1rem;
          margin-bottom: 1.0rem;
        }
      }

      .list-group-item-meta {
        position: absolute;
        z-index: 1;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        padding: 1em;
      }

    }
  }
}

/*
 * Linkout
 *
 */
.linkout {
  ul.list-inline {
    margin-bottom: 0;
  }
}

/*
 * figures and legends
 */

 .figure-legend.well{
   font-size: $figure-legend;
 }

/*
 * Aside box
 */
 ul.aside {
   padding: 0.5em;
   .aside-title{
     padding: 1rem;
     font-weight: bold;
     font-size: 1.1rem;
     background-color: rgba(90, 49, 13, 0.40);
     color: #000000;
   }
 }

 li.aside {
    list-style: none;
    padding: 0.5em;
    background-color: $clouds;
  }

  li.aside.terms {
    background-color: rgba(90, 49, 13, 0.20);
  }

 @media (min-width: 768px) {
  ul.aside {
    padding: 2em;
  }
 }
