/*
*
* ___      _   _                       ___
* | _ \__ _| |_| |___ __ ____ _ _  _   / __|___ _ __  _ __  ___ _ _  ___
* |  _/ _` |  _| ' \ V  V / _` | || | | (__/ _ \ '  \| '  \/ _ \ ' \(_-<
* |_| \__,_|\__|_||_\_/\_/\__,_|\_, |  \___\___/_|_|_|_|_|_\___/_||_/__/
*                               |__/
* https://github.com/PathwayCommons/
*
* Overrides for the poole/lanyon theme - https://github.com/poole/lanyon.
*/

/*
 * Contents
 *
 * Global resets
 * Masthead
 * Sidebar
 * Slide effect
 * Posts and pages
 * Pagination
 * Reverse layout
 * Themes
 */

 /*
  * Global resets
  *
  * Update the foundational and global aspects of the page.
  */
html, body {
  font-family: $font-family-base;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-base;
  font-weight: 600;
  color: $text-color;
  letter-spacing: -.5px;
  margin-top: $h-margin;
  margin-bottom: $h-margin;
}

h2, h3 {
  margin-top: $hx-margin-top;
  margin-bottom: $hx-margin-bottom;
}

@media (min-width: 38em) {
  html, body {
    font-size: 18px;
  }
}

/* Body text */
p {
  text-align: justify;
  margin-bottom: $p-margin;
}

/*
 * Container
 *
 * Center the page content. Override the width change behaviour.
 */

.container {
  max-width: $container-max-width;
  min-width: $container-min-width;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0;
  border-radius: 0px;
}

/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  .masthead-title {
    a {
      text-decoration: none;
    }
  }
}


/*
 * Sidebar
 *
 */
/* Style and "hide" the sidebar */
.sidebar-toggle {
  z-index: 1000;
}
.sidebar {
  font-family: $font-family-base;
  font-size: 1rem;
  left: -$side-bar-width;
  width: $side-bar-width;

  .sidebar-item {
    font-size: 0.90rem;
  }

  a.sidebar-nav-item {
    font-weight: lighter;
    color: $clouds;
  }
}
@media (min-width: 30em) {
  .sidebar {
    font-size: 1.5rem;
  }
}

#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .wrap,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX($side-bar-width);
      -ms-transform: translateX($side-bar-width);
          transform: translateX($side-bar-width);
}

/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

 /* Blog post or page title */
 .page-title,
 .post-title,
 .post-title a {
   color: $midnight-blue;
 }
 .page-title,
 .post-title {
   margin-top: 0;
 }

 /* Tables */
 table {
   margin-bottom: 3rem;
}

 /*
  * Themes
  *
  * Apply custom color schemes by adding the appropriate class to the `body`.
  * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
  */

 /* FLAT-UI */
 .theme-base-01 .sidebar,
 .theme-base-01 .sidebar-toggle:active,
 .theme-base-01 #sidebar-checkbox:checked ~ .sidebar-toggle {
   background-color: $text-color;
 }
 .theme-base-01 .container a,
 .theme-base-01 .sidebar-toggle,
 .theme-base-01 .related-posts li a:hover {
   text-decoration: underline;
   color: $text-color;
 }
 .theme-base-01{
   .container {
     .masthead-title a,
     .post-title a,
     .page-title a {
       text-decoration: none;
     }
     .masthead-title a:hover,
     .post-title a:hover,
     .page-title a:hover {
       text-decoration: underline;
     }
   }
 }
